/*headhhesive.js is that thing that helps hold the nav bar in place when you scroll down*/

.top-message-bar {
text-align: center;
color: #000;
margin: auto;
padding: 7px;
background-color: #9191B5;
}

.jumbotron {
background-image: url('https://images.unsplash.com/31/RpgvvtYAQeqAIs1knERU_vegetables.jpg?q=80&fm=jpg&s=8fb5ac0360719808e142719bf4a3470d');
background-size: cover;
background-position: 0 -100px;
color: rgba(255, 255, 255, 0.5);
color: #000;
}

.middle-section {
	text-align: center;
}

.logo-container {
	width: 100%;
	text-align: center;
}

.logo-container img {
	height: 300px;
	/*NOTE: be sure to add a media query here so that when adding responsive, it still fits*/
}

.navbar {	
	width: 100%;
	margin-top: 20px;
}
